*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
    font-size: medium;
    font-weight: bold;
}
body{
    width: 100%;
    margin: 5px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.615);
}
.calculator{
    border-width:5px;
    padding: 5%;
    font-size: medium;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px #a7dfcb
    
}
.container{
    background-color: rgb(34, 106, 143);
    width: 400px;
    margin-top: 5%;

}
input{
    width: 320px;
    border: none ;
    outline: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: inset 3px 3px 3px #a7dfcb,
    2px 2px 2px #a7dfcb,
    3px 3px 3px #a7dfcb;
    inset: -20px -20px 8px #a7dfcb ;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    color: black;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 60px;
    height: 55px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    box-shadow: inset 3px 3px 3px #a7dfcb,
    2px 2px 2px #a7dfcb,
    3px 3px 3px #a7dfcb;
    inset: -20px -10px 8px #a7dfcb;
    cursor: pointer;
    color: white;
}
.active{
    color: black;
    z-index: 10;
}
